{% extends "layout.html" %}
{% block content %}
<div class="bg-light p-2 border border-1">
	<h2>Upload Files</h2>
	<form id="upload-form"  action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="POST">	
		<div class="form-group d-inline">
			<input type="file" name="file" id="file-upload" multiple required/>
			<label id = "lblSelectFiles" class="btn btn-info" for="file-upload">Select files</label>
		</div>
		<div class="form-group d-inline">
			<input id = "btnUpload" class="btn btn-link ml-5 mb-2" type="submit" name="upload" value="upload" >   	
		</div>
	</form>
	
	<div class="d-flex flex-row pt-2" style="align-items: baseline;">
		<input class="btn btn-warning mr-2" type="button" name="clear" value="X" onclick="clearFiles()">
		<p class="text-muted mr-2" id="file-upload-filename"></p>
	</div>
</div>


	

{% if cur_folder == 'drive' %}
>>{{cur_folder}}
	{% else %}
>><a href="{{ url_for('subFolder', name=prev_folder) }}">{{prev_folder.replace('root_','')}}/</a>{{cur_folder.replace('root_','')}}
{% endif %}

<div class = 'row'>
	{% for d in dirs %}
	<div class = 'col-sm-4' style="animation: Fade_in 1.4s ease;">
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">FOLDER</a>
		      <a href="{{ url_for('delete_directory', abspath=d, delt=0) }}"><small class="text-muted">DELETE</small></a>
		    </div>
				<a href="{{ url_for('subFolder', name= cur_folder + '/' + d) }}">
			    <img class= '' src="{{ image_folder }}">
			</a>
		    <h2><a class="article-title" href="{{ url_for('subFolder', name=cur_folder + '/' + d) }}">{{ d.replace('root_','') }}</a></h2>
		    <p class="article-content"></p>	    		    
			  </div>
		</article>
			
	</div>
	{% endfor %}		
</div>

<hr>
<hr>
	

<div class = 'row'>
	{% for f in files %}
	<div class = 'col-sm-4' style="animation: Fade_in 1.4s ease;">
		<a href="#">
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">FILE</a>
		      <a href="{{ url_for('delete_file', abspath= cur_folder + '/' + f) }}"><small class="text-muted">DELETE</small></a>
		    </div>
		    <a href="{{ url_for('downloadFile', abspath= cur_folder + '/' + f) }}" target="blank">
			    <img class= '' src="{{ image_file }}">
			</a>
		    <h2><a class="article-title" href="#"></a></h2>
		    <p class="article-content">{{ f }}</p>	    		    
			  </div>
		</article>
		</a>	
	</div>
	{% endfor %}		
</div>
<script type="text/javascript">
	window.onload = function(){
		clearFiles();
	};
	var input = document.getElementById( 'file-upload' );
	var infoArea = document.getElementById( 'file-upload-filename' );

	input.addEventListener( 'change', showFileName );

	function showFileName( event ) {
	
	// the change event gives us the input it occurred in 
	var input = event.srcElement;
	
	// the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
	
	var i;
	var cont = "";
	infoArea.textContent = 'File name: '
	for(i = 0; i < input.files.length; i++)
	{
		var fileName = input.files[i].name;	
		// cont += fileName + "%0D%0A";
		if (i == input.files.length - 1) 
			{
				infoArea.textContent += fileName;
				continue;
			}
			else
				{
					infoArea.textContent += fileName + ' || ';
				}
	}
	if (i > 0){
		document.getElementById("btnUpload").className = "btn btn-primary ml-5 mb-2"; 
		document.getElementById("btnUpload").disabled  = false;
	}
	else{
		document.getElementById("btnUpload").className = "btn btn-link ml-5 mb-2";
		document.getElementById("btnUpload").disabled  = true;
	}

	
	// infoArea.textContent += cont;
	}

	function clearFiles(){
		input.value = '';
		infoArea.textContent = "";
		var uplbtn = document.getElementById("btnUpload");
		uplbtn.className = "btn btn-link ml-5 mb-2";
		uplbtn.disabled  = true;
	}
</script>

<style type="text/css">
input[type="file"] { 
  z-index: -1;
  position: absolute;
  opacity: 0;
}

input:focus + label {
  outline: 2px solid;
}
</style>
{% endblock content %}
